// Responsive designs in all browsers
$enable-flex : true;

// Navbar
$nav-link-padding-x:     2.5rem;
$navbar-dark-color:              $white;
$navbar-dark-hover-color:        $warning;
$navbar-dark-active-color:       $warning;